.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 60px;

  background-color: rgba(20,20,20,0.8);
  transition: 0.7s ease;
  z-index: 899;
}

.navBarShow {
  position: fixed;
  top: 0px;
}

.navBarHide {
  position: fixed;
  top: -80px;
}

.navItemsWrapper {
  display: none;
}

@media (min-width: 700px) {
  .navItemsWrapper {
    display: flex;
  }

  .mobileView {
    display: none;
  }
}
