.enquireHeader {
  padding: 30px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

@media (min-width: 600px) {
  .enquireHeader {
    width: 520px;
    margin: 0 auto;
  }
}

@media(min-width: 770px) {
}