@import "../../../assets/sass/font.module.scss";

.descriptionCard {
  text-align: center;
  padding: 50px 5px;
  h1 {
    font-family: $headerFont;
    color: #151515;
    text-transform: uppercase;
  }
  p {
    color: #777;
    line-height: 1.5rem;
  }
}

.descriptionCardBadge {
  margin: 0 auto;
  font-family: $fancyPFont;
}


@media(min-width: 770px) {
  .descriptionCardBadge {
    margin: 0;
    font-family: $fancyPFont;
  }

  .descriptionCard {
    text-align: left;
  }
}
